<header class="navbar">

<div class="container nav-content">

<div class="logo">
<a href="/">Premium Used Cars by Kwota</a>
</div>

<nav>
<a href="/">Home</a>
<a href="/inventory">Inventory</a>
<a href="/auth/login">Admin</a>
</nav>

</div>

</header>
